doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.container-full
    div(ng-controller="navCtrl")
      nav-mill(datanav="navdata")
    block content
